# 忽略所有文件
*.json
app/*.json
app/client/*.json
app/server/*.json
app/trustcenter/*.json
.vs
DSSE_test_01
vcpkg_installed
x64
# 例外规则：仅允许 .json、.cpp 和 .h 文件
!100.json
!200.json
!300.json
!400.json
!500.json
!600.json
!700.json
!800.json
!900.json
!1000.json
!1500.json
!2500.json
!3500.json
!4500.json
!all.json

# 例外规则：允许 .gitignore 文件自身被追踪
!.gitignore
!*.md